section {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  h1 {
    font-family: Kaushan Script, sans-serif;
    font-size: 100px;
    margin-bottom: 0;
  }
  
  h2 {
    font-size: 32px;
    font-weight: normal;
    color: var(--on-background-alt);
  }

  @media (max-width: 800px) {
   h1{
     font-size: 50px !important;
   }
  }